
@keyframes tostart {
  0% {
    left: 100%;    
  }
  10% {
    left: 0%;    
  } 
  30% {
    left: 0%;    
  } 

  60% {
    left: -100%;    
  } 

  90% {
    left: -100%;    
  } 

  100% {
    left: -200%;    
  }  
}

@keyframes tonext {
  from {
    left: -100%;    
  }
  to {
    left: 100%;    
  }  
}

.middle-right {
  position: relative;  
  overflow: hidden;   
}
.carousel {
  /*
  position: relative;  
  overflow: hidden;   
  */
  position: relative;
  flex: 0 0 100%;
  width: 100%;    
  animation: tostart 15s infinite; 
}



.carousel_slide_one {
  position: relative;
  flex: 0 0 100%;
  width: 100%;    
  /*
  animation: tostart 5s infinite; 
  */
}

.carousel_slide_two {
  position: relative;
  flex: 0 0 100%;
  width: 100%;  
  /*
  animation: tonext 5s infinite;   
  */
}
