
.logo {
  display: block;
  overflow: hidden;
  max-width: 100px;
  max-height: 100px; 
  }

.logo-image { 
  /* clip-path: rect(0px, 0px, 300px, 300px); */
  overflow: hidden;
  border: 1px solid black;
  }

section { border: 1px solid red; display: flex;}
.top { margin:0px;}
.top-left { border: 1px solid blue; flex: 1 0 25%}
.top-right {  border: 1px solid blue; flex:2}
.buttons { border: 1px solid gold; display: flex;}

.btn {
    flex: 1;
    border-width: 2px;
    border-style: solid;
    border-color:#44E664;
    border-radius:5px;
    padding: 4px 6px;
    margin:10px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    background-color:#44E664;
    color:white;
    transition: background-color 0.5s ease-out;}

.btn:hover {
    background-color: transparent;
    background-color: black;
    color:white;
    cursor: pointer;
}

.middle-left { background-color: beige;
padding: 20px;
}