body {  
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: 'Lato', sans-serif;
  background-color: whitesmoke;
  font-size: 1.2em;
}

main {
  margin: 0 auto;
 /* max-width: 1024px; */
  background-color: white;
  text-align: center;
  box-shadow:#eceff0;
}


.logo {
  display: block;
  overflow: hidden;
  max-width: 100px;
  max-height: 100px; 
  }

.logo-image {   
  overflow: hidden;  
  }


.top-nav {
  display: flex;
  width: 100%;
  border: 1px solid green;
  padding: 10px 5px 15px;
  background-color: lightgreen;
}

.nav-item {
  flex: 1;
  width: auto;
}

.nav-logo {
  flex: 0 0 50%;
  width: auto;
}

a { 
  text-decoration: none;
  color: #000;
}

section {  
  display: flex; 
  height: 50vh;
  }


.top { margin:0px;}
.top-left {  flex: 1 0 25%}
.top-right { flex:2}

  .middle { 
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        margin:1em;
        background-color: beige;
        padding: 3vh;
        }

        .middle-left {   
          display: block;
          flex: 1 1 0; 
          text-align: center;
          border: 1px solid red;
          min-width: 100%;   
        }
        .middle-right {  
          flex: 1 1 0;
          text-align: center;
          background-color: white;              
          min-width: 100%;   
          }


.bottom { 
  margin:1em;   
  background-color: #eceff0;
  padding: 1em;
  }

.bottom-left {   
  flex: 1 0 25%;
  background-color: rgb(255, 255, 255);
}
.bottom-right {  
  flex:2; 
  padding: 10px;
  text-align: center;
  }

.buttons { display: flex;}

.btn {
    flex: 1;
    border-width: 2px;
    border-style: solid;
    border-color:#44E664;
    border-radius:5px;
    padding: 4px 6px;
    margin:10px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    background-color:#44E664;
    color:white;
    transition: background-color 0.5s ease-out;}

.btn:hover {    
    background-color: black;
    color:white;
    cursor: pointer;
}

.postings {
   flex: 1;
    border-width: 2px;
    border-style: solid;
    border-color:black;
    padding: 4px 6px;
    margin:10px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    background-color:white;
    color:black;
    transition: background-color 0.5s ease-out;
}

.postings:hover {    
    background-color: black;
    color:white;
    cursor: pointer;
}


.whats-new {
  position: relative;
  display: block;
  top: calc(30vh/3);
}

/*
 Ref : https://getbootstrap.com/docs/4.5/layout/overview/ 
*/

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) { 

       .middle-left {             
          border: 1px solid blue;
          min-width: 51          
        }
        .middle-right {            
          min-width: 500px;     
          }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
   {  .middle-left {             
          border: 1px solid cyan;
          min-width: 700px;          
        }
        .middle-right {            
          min-width: 700px;     
          }}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  .middle-left {             
          border: 1px solid magenta;
          min-width: 450px;          
        }
        .middle-right {            
          min-width: 450px;     
          } }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .middle-left {             
          border: 1px solid black;
          min-width: 600px;          
        }
        .middle-right {            
          min-width: 600px;     
          } }