
@keyframes tostart {
  0% {
    left: 0%;    
  }
  40% {
    left: 0%;    
  } 
  50% {
    left: -100%;    
  } 

  90% {
    left: -100%;    
  } 

  100% {
    left:  0%;    
  } 
 
}

@keyframes tonext {
  from {
    left: -100%;    
  }
  to {
    left: 100%;    
  }  
}

.middle > .right {
 /* position: relative; */
  overflow: hidden;   
}
.carousel {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;

  position: relative;
  width: 200%;
  animation: tostart 6s infinite;
}



.carousel_slide_one {
  position: relative;
  flex: 1;
  width: 100%;
  min-height: 50vh;  
  background-image: url('/images/bbq.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  
}

.carousel_slide_two {  
  position: relative;
  flex: 1;
  width: 100%;
  min-height: 50vh; 
  background-image: url('/images/mabrook.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
}

.carousel h1 {
  color: #00ff00;
  /* background-color: #ffffff; */
  line-height: 1.7em;
  font-size: 3em;
}