body {  
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: 'Nunito Sans', sans-serif;
  background-color: white;
  font-size: 0.7em;
}


h1 {
  font-family: 'Rokkitt', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

main {
  margin: 0 auto;
 /* max-width: 1024px; */
  background-color: white;
  text-align: center;
  box-shadow:#eceff0;

}


.logo {
  display: block;
  overflow: hidden;
  max-width: 100px;
  max-height: 60px; 
  }

.logo-image {   
  overflow: hidden;  
  }


.top-nav {
  display: flex;
  width: 99%;
  border: 1px solid green;
  padding: 10px 10px 15px;
  background-color: rgb(46, 46, 46);
  color: #ffffff;
  font-weight: 600;
}

.wide-nav {  
  display: none;    
  min-width: 50vw;
}

.mobile-nav {
  display: block;   
  top: 0em;      
}


.top-nav > .active { 
  color:khaki;
  text-decoration: underline;
  font-weight: bolder;
  }

.nav-item {
  flex: 1;
  width: auto;
}

.nav-logo {
  flex: 0 0 30%;
  width: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:999;
}

a { 
  text-decoration: none;
  color: #ffffff;
}

.section {  
  display: flex; 
  
  }


.top, .middle, .bottom, .apply-now {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin:1em;
    background-color: #f5f5dc;
    height: 25vh;    
    padding: 3vh;

}

.top {
    background-color: #f5f5f5;
    height: 25vh;
    margin-top: 100px;
    vertical-align: middle ; 
}

.middle {
    min-height: 65vh;
}

.bottom {
  background-color: #eceff0;
  min-height: 420px;
}

.v-center {
  display: table-cell;
  vertical-align: middle;  
}

.apply-now {
  min-height: 75vh;  
  background-image: url('images/volunteer-002.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
}


.left {
          display: block;
          flex: 1 1 0; 
          text-align: center;
          min-width: 80%;
        }
.right {
          flex: 1 1 0;
          text-align: center;
          min-width: 80%;
          }

         

.about-left {
          display: block;
          flex: 1 1 0; 
          text-align: center;
          min-width: 80%;
          background-color: #f5f5f5;
        }
.about-right {
          flex: 1 1 0;
          text-align: center;
          min-width: 80%;
          background-color: #f5f5f5;
          }

.top > .left { background-color: #f5f5f5;}
.top > .right { background-color: #f5f5f5;}
.middle > .left { background-color: #f5f5dc;}
.middle > .right { background-color: #ffffff;}
.bottom > .left { background-color: #ffffff;}
.bottom > .right { background-color: transparent;}


.apply-now > .left { 
        width: 40%;
        min-height: 75vh;
        
    }

.apply-now > .right { 
        width: 40%;
        min-height: 75vh;      
        background-color: rgba(50,50,50,0.8);  
    }


.buttons { display: flex;}

.btn {
    flex: 1;
    border-width: 2px;
    border-style: solid;
    border-color:#44E664;
    border-radius:5px;
    padding: 4px 6px;
    margin:10px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    background-color:#44E664;
    color:white;
    transition: background-color 0.5s ease-out;}

.btn:hover {    
    background-color: black;
    color:white;
    cursor: pointer;
}

.postings {
   flex: 1;
    border-width: 2px;
    border-style: solid;
    border-color:black;
    padding: 4px 6px;
    margin:10px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    background-color:white;
    color:black;
    transition: background-color 0.5s ease-out;
}

.postings:hover {    
    background-color: black;
    color:white;
    cursor: pointer;
}


.whats-new {  
  display: block;
  top: calc(30vh/3);
}

.notice {
    padding-left: 3em;
    text-align: left;
    font-size: 0.7em;
}

/***************** form related styles ***********/
.frm-apply-now { padding: 3em;}

.row {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
}


.field {
  display: block;
  flex: 1 1 0; 
  text-align: left;  
}

.field > label { 
  line-height: 1.7em;
  color: #ffffff;
  font-weight: bold;
  }

.field > label::after {
    content: "\a";
    white-space: pre;    
}


input
 {

    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    padding: 6.5px;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 13px;
    color: #868484;
 }




/**************** footer styles ******************/
.footer-main {
  background-color: rgb(51, 51, 51);
  box-sizing: border-box;
  color :rgb(102, 102, 102);
  display: block;  
  font-size: 16px;
  font-weight: 500;
  min-height: 189px;
  line-height: 24px;  
  width: 100%;  
}

.container {
    width: 80%;
    max-width: 1080px;
    margin: auto;
}

.acknowledgementofcountry {
  color : #ffffff; 
  text-align: center;

}

.footer-bar-bottom {
 margin-bottom: 1em;
}
.footer-bar-text {
    line-height: 1.2em;
    text-align: center;
    padding: 40px 0;
    font-size: 0.8em;
}

.hero-text {
  display: block;
  font-size: 72px;
  font-weight: 900;
  color: #44E664;
  padding-top:20vh;
}

/*
 Ref : https://getbootstrap.com/docs/4.5/layout/overview/ 
*/

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) { 
       .left {        
          min-width: 80%;
        }
        .right {
          min-width: 80%;
          }       

     .wide-nav {  display: none;}
     .mobile-nav {  display: flex; }     
}

/* Medium devices (Galaxy Moto, Pixel) */
@media (min-width: 700px)
   {  
     .left { min-width: 40%; }
     .right { min-width: 40%; }
     .middle {  min-height: 58vh;}   
     .wide-nav {  display: none;}
     .mobile-nav {  display: flex; }       
   }


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
   {  
     .left { min-width: 40%; }
     .right { min-width: 40%; }
     .middle {  min-height: 50vh;}  
     .wide-nav {  display: none;}
     .mobile-nav {  display: flex; }            
     
   }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
     .left { min-width: 40%; }
     .right { min-width: 40%; }
     .middle {  min-height: 50vh;}  
     .wide-nav {  display: flex;}
     .mobile-nav {  display: none; }   
   }


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
     .left { min-width: 40%; }
     .right { min-width: 40%; }
     .middle {  min-height: 50vh;} 
     .wide-nav {  display: flex;} 
     .mobile-nav {  display: none; }   
     
     }