body {  
  margin: 0 auto;
  font-family: 'Nunito Sans', sans-serif;
  background-color: white;
  font-size: 1em;
}


h1 {
  font-family: 'Rokkitt', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

main {
  margin: 0 auto;
 /* max-width: 1024px; */
  background-color: white;
  text-align: center;
  box-shadow:#eceff0;

}



.logo {
  display: block;
  overflow: hidden;
  max-width: 100px;
  max-height: 30px;
  }

/*
.logo-image {   
  overflow: hidden;  
  }
*/

.top-nav {
  grid-area: header;
  display: flex; 
  border: 1px solid green;
  margin: 0;
  padding: 10px 15px;
  background-color: rgb(46, 46, 46);
  color: #ffffff;
  font-weight: 600;  
  width:100%;
}



.wide-nav {
    display: none;
    grid-template-columns: 10% 40% 10% 10% 10% 10% 10%;
    grid-template-rows: 1fr;
    grid-template-areas: "logo .  about-us whats-new postings apply-now .";
    width: 100%;
    padding: 2px;
}
.wide-nav > .menu-item-link {
    padding: 5px;
    background-color: transparent;
    width: 10em;
    line-height: 1.7em;
    text-align: center;
}
.wide-nav > .menu-item-link:hover {
    background-color: #000000;
}

.wide-nav > .item-about-us {  grid-area: about-us;}
.wide-nav > .item-whats-new { grid-area: whats-new;}
.wide-nav > .item-postings {  grid-area: postings;}
.wide-nav > .item-apply-now { grid-area: apply-now;}


.social-menu {
    display: grid;
    grid-template-columns: 30% 10% 10% 10% 10% 30%;
    grid-template-rows: 1fr;
    grid-template-areas: ". facebook linkedin twitter youtube .";
    width: 100%;
    padding: 2px;
}

.facebook {  grid-area: facebook;}
.linkedin {  grid-area: linkedin;}
.twitter {  grid-area: twitter;}
.youtube {  grid-area: youtube;}

.about-middle {
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: auto;
    grid-template-areas:
            "about-left"
            "about-right";
    width: 90%;
    padding: 0 5%;
}


.about-left {
    grid-area: about-left;
    text-align: center;
    background-color: #f5f5f5;
    margin: 5%;
}
.about-right {
    grid-area: about-right;
    text-align: center;
    background-color: #f5f5f5;
    margin: 5%;
}


.nav-logo {
    grid-area: logo;
}

.top-nav > .active { 
  color:khaki;
  text-decoration: underline;
  font-weight: bolder;
  }




.sticky {
  position: fixed;
  top: 0;    
  z-index:999;
}

a { 
  text-decoration: none;
  color: #ffffff;
}

.section {  
  display: flex; 
  
  }


.top, .middle, .bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin:1em;
    background-color: #f5f5dc;
    height: 25vh;    
    padding: 3vh;

}

.top {
    background-color: #f5f5f5;
    height: 25vh;
    margin-top: 100px;
    vertical-align: middle ; 
}

.middle {
    min-height: 65vh;
}

.bottom {
  background-color: #eceff0;
  min-height: 420px;
}

.v-center {
  display: table-cell;
  vertical-align: middle;  
}

.section-apply-now {
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: auto;
    grid-template-areas:
            "apply-now-right"
            "apply-now-left";

    width: 100%;
    padding: 0;
    margin: 0;


  background-image: url('../images/volunteer-002.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
}

.section-apply-now > .apply-left { grid-area: apply-now-left;}
.section-apply-now > .apply-right {
    grid-area: apply-now-right;
    margin: 10em 1em;
    padding: 1%;
    background-color: rgba(50,50,50,0.8);}



.left {
          display: block;
          flex: 1 1 0; 
          text-align: center;
          min-width: 80%;
        }
.right {
          flex: 1 1 0;
          text-align: center;
          min-width: 80%;
          }

         



.top > .left { background-color: #f5f5f5;}
.top > .right { background-color: #f5f5f5;}
.middle > .left { background-color: #f5f5dc;}
.middle > .right { background-color: #ffffff;}
.bottom > .left { background-color: #ffffff;}
.bottom > .right { background-color: transparent;}





.buttons { display: flex;}

.btn {
    flex: 1;
    border-width: 2px;
    border-style: solid;
    border-color:#44E664;
    border-radius:5px;
    padding: 4px 6px;
    margin:10px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    background-color:#44E664;
    color:white;
    transition: background-color 0.5s ease-out;}

.btn:hover {    
    background-color: black;
    color:white;
    cursor: pointer;
}

.postings {
   flex: 1;
    border-width: 2px;
    border-style: solid;
    border-color:black;
    padding: 4px 6px;
    margin:10px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    background-color:white;
    color:black;
    transition: background-color 0.5s ease-out;
}

.postings:hover {    
    background-color: black;
    color:white;
    cursor: pointer;
}


.whats-new {  
  display: block;
  top: calc(30vh/3);
    padding: 10%;
}

.notice {
    padding-left: 3em;
    text-align: left;
    font-size: 0.7em;
}

/***************** form related styles ***********/
.form-header {
    color: #ffffff;
    font-size: 3.6em;
    margin: 1.3em 1em 0;
    line-height: 0;}
.frm-apply-now { padding: 3em;}

.row {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.field {
  display: block;
  flex: 1 1 0; 
  text-align: left;
  min-width:20em;
  margin-top: 1em;
}

.field > label { 
  line-height: 1.7em;
  color: #ffffff;
  font-weight: bold;
 }

.field > label::after {
    content: "\a";
    white-space: pre;    
}


input
 {

    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    padding: 7px;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 13px;
    color: #868484;
 }




/**************** footer styles ******************/
.footer-main {
  background-color: rgb(51, 51, 51);
  box-sizing: border-box;
  color :rgb(102, 102, 102);
  display: block;  
  font-size: 16px;
  font-weight: 500;
  min-height: 189px;
  line-height: 24px;  
  width: 100%;  
}

.container {
    width: 80%;
    max-width: 1080px;
    margin: auto;
}

.acknowledgementofcountry {
  color : #ffffff; 
  text-align: center;

}

.footer-bar-bottom {
 margin-bottom: 1em;
}
.footer-bar-text {
    line-height: 1.2em;
    text-align: center;
    padding: 40px 0;
    font-size: 0.8em;
}

.hero-text {
  display: block;
  font-size: 72px;
  font-weight: 900;
  color: #00ff00;
  padding:10%;
}


.page-body {
  grid-area: main;
}

.footer-main {
  grid-area: footer;
}

.page-container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}



/*
 Ref : https://getbootstrap.com/docs/4.5/layout/overview/ 
*/

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) { 
       .left {        
          min-width: 80%;
        }
        .right {
          min-width: 80%;
          }       

     .wide-nav {  display: none;}
     .mobile-nav {  display: grid; }
    .about-middle {
        grid-template-columns: 100% ;
        grid-template-areas:
                "about-left"
                "about-right";
    }
}

/* Medium devices (Galaxy Moto, Pixel) */
@media (min-width: 700px)
   {  
     .left { min-width: 40%; }
     .right { min-width: 40%; }
     .middle {  min-height: 58vh;}   
     .wide-nav {  display: none;}
     .mobile-nav {  display: grid; }
    .about-middle {
        grid-template-columns: 50% 50% ;
        grid-template-areas: "about-left about-right";
    }
  }


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
   {  
     .left { min-width: 40%; }
     .right { min-width: 40%; }
     .middle {  min-height: 50vh;}  
     .wide-nav {  display: none;}
     .mobile-nav {  display: grid; }
    .about-middle {
        grid-template-columns: 50% 50% ;
        grid-template-areas: "about-left about-right";
    }

  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
     .left { min-width: 40%; }
     .right { min-width: 40%; }
     .middle {  min-height: 50vh;}  
     .wide-nav {  display: grid;}
     .mobile-nav {  display: none; }

    .about-middle {
        grid-template-columns: 50% 50% ;
        grid-template-areas: "about-left about-right";
    }
   }


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
     .left { min-width: 40%; }
     .right { min-width: 40%; }
     .middle {  min-height: 50vh;} 
     .wide-nav {  display: grid;}
     .mobile-nav {  display: none; }

    .about-middle {
        grid-template-columns: 50% 50% ;
        grid-template-areas: "about-left about-right";
    }

    .section-apply-now {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: "apply-now-left apply-now-right";
    }

    .hero-text {
        margin-top: 90%;

    }

  }